In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/input/csvs/train.csv")
driver = pd.read_csv("../data/input/csvs/driver_imgs_list.csv")

In [3]:
df

                image  label
0      img_100026.jpg      0
1       img_10003.jpg      0
2      img_100050.jpg      0
3      img_100074.jpg      0
4       img_10012.jpg      0
...               ...    ...
22419   img_99761.jpg      9
22420   img_99801.jpg      9
22421   img_99927.jpg      9
22422    img_9993.jpg      9
22423   img_99949.jpg      9

[22424 rows x 2 columns]

In [6]:
driver.subject.nunique()

26

In [ ]:
driver.subject.nunique()

In [13]:
driver.groupby("subject").size()

subject
p002     725
p012     823
p014     876
p015     875
p016    1078
p021    1237
p022    1233
p024    1226
p026    1196
p035     848
p039     651
p041     605
p042     591
p045     724
p047     835
p049    1011
p050     790
p051     920
p052     740
p056     794
p061     809
p064     820
p066    1034
p072     346
p075     814
p081     823
dtype: int64

In [57]:
# p002
# print("p002",driver[driver.subject=='p002'].groupby("classname").size())

def print_classname_size(driver_name):
    print(f"Driver name: {driver_name}\n")
#     print(driver[driver.subject==driver_name][""])
    driverrows = driver[driver.subject==driver_name]
    sumrows = len(driverrows)
    classnames = driver[driver.subject==driver_name]["classname"].unique()
    print(f"->Sum rows per a driver: {sumrows}")
    print(driver[driver.subject==driver_name].groupby("classname").size())
    print()
    for classname in classnames:
        print(f"{classname} ratio: {round((len(driverrows[driverrows.classname==classname])/sumrows)*100,1)}%")

In [58]:
print_classname_size("p002")

Driver name: p002

->Sum rows per a driver: 725
classname
c0    76
c1    74
c2    86
c3    79
c4    84
c5    76
c6    83
c7    72
c8    44
c9    51
dtype: int64

c0 ratio: 10.5%
c1 ratio: 10.2%
c2 ratio: 11.9%
c3 ratio: 10.9%
c4 ratio: 11.6%
c5 ratio: 10.5%
c6 ratio: 11.4%
c7 ratio: 9.9%
c8 ratio: 6.1%
c9 ratio: 7.0%

In [19]:
drivers = driver.subject.unique()